/* Mobile devices (small screens)*/

@media only screen and (max-width: 480px) {

  /* General Styling*/

  nav {
    font-size: 1.1rem;
  }

  ul {
    line-height: 60px;
  }

  div[class=learn-nft] {
    width: 80vw;
  }

  details>p {
    width: 70vw;
    font-size: 17px;
  }

  .hero-container {
    height: 100vw;
    width: 100vw;
  }

  .tangerine-hero-title {
    top: 10%;
  }

  .tangerine-hero-button {
    top: 25%;
  }

  .tangerine-font {
    font-size: 3.5rem;
  }

  /* NFT display Basic*/

  .nft-basic {
    width: 100vw;
    height: 100vw;
    display: block;
  }

  .nft-basic2 {
    width: 100vw;
    height: 100vw;
    display: block;
  }

  .nft-basic3 {
    width: 100vw;
    height: 100vw;
    display: block;
  }

  /* NFT display Expert*/

  .nft-expert {
    width: 100vw;
    height: 100vw;
    display: block;
  }

  .nft-expert2 {
    width: 100vw;
    height: 100vw;
    display: block;
  }

  .nft-expert3 {
    width: 100vw;
    height: 100vw;
    display: block;
  }

  /* NFT display Premium*/

  .nft-premium {
    width: 100vw;
    height: 100vw;
    display: block;
  }

  .nft-premium2 {
    width: 100vw;
    height: 100vw;
    display: block;
  }

  .nft-premium3 {
    width: 100vw;
    height: 100vw;
    display: block;
  }

  /*NFT general styling*/


  .info-nft {
    width: 100%;
    height: 100%;
    display: block;
  }

  .info-nft:hover {
    margin-top: 0;
  }

  .info-nft>div {
    text-align: center;
    padding: 10% 0 10% 0;
  }

  .info-nft>div>p {
    font-weight: 400;
    text-align: justify;
    font-size: 18px;
    text-transform: capitalize;
    padding-left: 25%;
    width: 20ch;
  }

  /* Contact page styling*/

  .contact {
    float: left;
    left: 10vw;
    width: 80vw;
  }

  .aside {
    width: 80vw;
    padding: 20px;
    margin-left: -20px;
  }

  /* Footer and General Styling*/
  ul>li {
    display: inline-block;
    padding: 0 5px 5px 0px;
  }

  ul>li>a {
    font-size: 16px;
  }

  .footer {
    font-size: 14px;
    margin-left: 5px;
  }

  a[href="index.htm"]>img {
    display: none;
  }

  #padding-right {
    padding-right: 0.5rem;
    text-align: justify;
  }

  #padding-left {
    padding: 0.5rem;
    text-align: justify;
  }

}

/*Tablets (portrait orientation)*/

@media only screen and (min-width: 481px) and (max-width: 768px) {

  /* General Styling*/

  div[class=learn-nft] {
    width: 80vw;
  }

  details>p {
    width: 70vw;
    font-size: 17px;
  }

  .tangerine-font {
    font-size: 3.5rem;
  }

  .tangerine-hero-title {
    top: 20%;
  }

  .tangerine-hero-button {
    top: 40%;
  }

  h3 {
    margin: 5px 5px;
  }

  /* NFT display Basic */

  .nft-basic {
    width: 30vw;
    height: 30vw;
  }

  .nft-basic2 {
    width: 30vw;
    height: 30vw;
  }

  .nft-basic3 {
    width: 30vw;
    height: 30vw;
  }

  /*NFT general styling*/


  .info-nft {
    width: 100%;
    height: 100%;
    display: block;
  }

  .info-nft:hover {
    margin-top: 0;
  }

  .info-nft>div {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .info-nft>div>p {
    font-weight: 400;
    text-align: justify;
    font-size: 12px;
    text-transform: capitalize;
    line-height: 10px;
    padding-left: 20%;
    width: 20ch;
  }

  .claim-nft {
    font-size: 14px;
    padding: 3px 14px 3px 14px;
  }

  /* General Styling*/

  ul {
    display: inline-block;
    line-height: 60px;
  }

  a[href="index.htm"]>img {
    display: none;
  }

  .padding {
    padding: 70px 0 10px 0;
  }

  .contact {
    width: 70%;
  }

  .aside {
    margin-left: -20px;
  }

  .hr-cut-bottom {
    padding: 0 0 2px 0;
  }

  .footer {
    font-size: 13px;
    margin-left: 5px;
  }

  #padding-right {
    padding-right: 3rem;
    text-align: justify;
  }

  #padding-left {
    padding-left: 3rem;
    text-align: justify;
  }

}

/*Tablets (landscape orientation) and small desktops*/

@media only screen and (min-width: 769px) and (max-width: 1024px) {

  /*General Styling*/

  ul {
    display: inline-block;
    line-height: 60px;
  }

  div[class=learn-nft] {
    width: 80vw;
  }

  details>p {
    width: 70vw;
  }

  .tangerine-font {
    font-size: 4rem;
  }

  .tangerine-hero-title {
    top: 20%;
  }

  .tangerine-hero-button {
    top: 40%;
  }

  h3 {
    margin: 10px 10px;
  }

  a[href="index.htm"]>img {
    display: none;
  }

  .padding {
    padding: 70px 0 10px 0;
  }

  .hr-cut-bottom {
    padding: 0 0 2px 0;
  }

  .contact {
    left: 10vw;
    width: 80%;
  }

  .aside {
    margin-left: -20px;
  }

  /*NFT general styling*/


  .info-nft {
    width: 100%;
    height: 100%;
    display: block;
  }

  .info-nft:hover {
    margin-top: 0;
  }

  .info-nft>div {
    text-align: center;
    padding: 5% 0 5% 0;
  }

  .info-nft>div>p {
    font-weight: 400;
    text-align: justify;
    font-size: 16px;
    text-transform: capitalize;
    width: 20ch;
    padding-left: 10%;
    margin: 5px;
  }

  .claim-nft {
    font-size: 14px;
    padding: 5px 16px 5px 16px;
  }

  #padding-right {
    padding-right: 4rem;
    text-align: justify;
  }

  #padding-left {
    padding: 20% 5rem;
    text-align: justify;
  }

}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {

  /* General Styling*/
  .contact {
    left: 7vw;
    width: 40%;
  }

  .aside {
    margin-left: 40px;
  }

  #padding-right {
    padding: 20%;
  }

  #padding-left {
    padding: 20%;
  }

}