/* General settings for NFTs display*/

.center-info-nft {
    display: grid;
    place-items: center;
}

.info-nft {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition:0.5s;
    color:rgba(0, 0, 0, 0);
    text-align: center;
    margin: 0;
}

.info-nft:hover {
    background-color:#9c59b6b2;
    opacity: 1;
    transition:0.5s;
    color:white;
}

.info-nft > p{
    text-align: center;
    padding: 20%;
    margin:0;
}

/*NFT section - BASIC*/

/* START NFT BASIC 1*/
.nft-basic{
    width: 30vw;
    height: 30vw;
    background-image: url('../../vendor/img/sample.jpg');
    background-size: cover;
    transition:0.5s;
    display: inline-block;
}

/* End NFT BASIC 1 */

/* START NFT BASIC 2*/
.nft-basic2{
    width: 30vw;
    height: 30vw;
    background-image: url('../../vendor/img/sample.jpg');
    background-size: cover;
    transition:0.5s;
    display: inline-block;
    

}

/* End NFT BASIC 2 */

/* START NFT BASIC 3*/
.nft-basic3{
    width: 30vw;
    height: 30vw;
    background-image: url('../../vendor/img/sample.jpg');
    background-size: cover;
    transition:0.5s;
    display: inline-block;
    

}

/* End NFT BASIC 3 */

/*NFT section - EXPERT*/

/* START NFT EXPERT 1*/
.nft-basic{
    width: 30vw;
    height: 30vw;
    background-image: url('../../vendor/img/sample.jpg');
    background-size: cover;
    transition:0.5s;
    display: inline-block;
    

}

/* End NFT EXPERT 1 */

/* START NFT EXPERT 2*/
.nft-basic2{
    width: 30vw;
    height: 30vw;
    background-image: url('../../vendor/img/sample.jpg');
    background-size: cover;
    transition:0.5s;
    display: inline-block;
    

}

/* End NFT EXPERT 2 */

/* START NFT EXPERT 3*/
.nft-basic3{
    width: 30vw;
    height: 30vw;
    background-image: url('../../vendor/img/sample.jpg');
    background-size: cover;
    transition:0.5s;
    display: inline-block;
    

}

/* End NFT EXPERT 3 */

/*NFT section - PREMIUM*/

/* START NFT PREMIUM 1*/
.nft-basic{
    width: 30vw;
    height: 30vw;
    background-image: url('../../vendor/img/sample.jpg');
    background-size: cover;
    transition:0.5s;
    display: inline-block;
    

}

/* End NFT PREMIUM 1 */

/* START NFT PREMIUM 2*/
.nft-basic2{
    width: 30vw;
    height: 30vw;
    background-image: url('../../vendor/img/sample.jpg');
    background-size: cover;
    transition:0.5s;
    display: inline-block;
    

}

/* End NFT PREMIUM 2 */

/* START NFT PREMIUM 3*/
.nft-basic3{
    width: 30vw;
    height: 30vw;
    background-image: url('../../vendor/img/sample.jpg');
    background-size: cover;
    transition:0.5s;
    display: inline-block;
    

}

/* End NFT PREMIUM 3 */