/* General styling Homepage NFT display*/

.center-info-nft {
    display: grid;
    place-items: center;
}

.info-nft {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    color: rgba(0, 0, 0, 0);
    text-align: center;
}

.info-nft:hover {
    background-color: #9c59b6c7;
    opacity: 1;
    transition: 0.5s;
    color: white;
}

.info-nft>div>p {
    font-weight: 400;
    text-align: justify;
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 15px;
}

/*NFT section - BASIC*/

/*Start of BASIC 1*/

.nft-basic {
    width: 30vw;
    height: 30vw;
    background: url('../nft/b1.webp') center center no-repeat;
    background-size: cover;
    transition: 0.5s;
    display: inline-block;
}

/* End of BASIC 1 */

/* START of BASIC 2*/

.nft-basic2 {
    width: 30vw;
    height: 30vw;
    background: url('../nft/b2.webp') center center no-repeat;
    background-size: cover;
    transition: 0.5s;
    display: inline-block;
}

/* End of BASIC 2 */

/* START of BASIC 3*/

.nft-basic3 {
    width: 30vw;
    height: 30vw;
    background: url('../nft/b3.webp') center center no-repeat;
    background-size: cover;
    transition: 0.5s;
    display: inline-block;
}

/* End of BASIC 3 */

/*NFT section - EXPERT*/

/* START of EXPERT 1*/

.nft-expert {
    width: 30vw;
    height: 30vw;
    background: url('../nft/e1.webp') center center no-repeat;
    background-size: cover;
    transition: 0.5s;
    display: inline-block;
}

/* End of EXPERT 1 */

/* START of EXPERT 2*/

.nft-expert2 {
    width: 30vw;
    height: 30vw;
    background: url('../nft/e2.webp') center center no-repeat;
    background-size: cover;
    transition: 0.5s;
    display: inline-block;
}

/* End of EXPERT 2 */

/* START of EXPERT 3*/

.nft-expert3 {
    width: 30vw;
    height: 30vw;
    background: url('../nft/e3.webp') center center no-repeat;
    background-size: cover;
    transition: 0.5s;
    display: inline-block;
}

/* End of EXPERT 3 */

/*NFT section - PREMIUM*/

/* START of PREMIUM 1*/

.nft-premium {
    width: 30vw;
    height: 30vw;
    background: url('../nft/p1.webp') center center no-repeat;
    background-size: cover;
    transition: 0.5s;
    display: inline-block;
}

/* End of PREMIUM 1 */

/* START of PREMIUM 2*/

.nft-premium2 {
    width: 30vw;
    height: 30vw;
    background: url('../nft/p2.webp') center center no-repeat;
    background-size: cover;
    transition: 0.5s;
    display: inline-block;
}

/* End of PREMIUM 2 */

/* START of PREMIUM 3*/

.nft-premium3 {
    width: 30vw;
    height: 30vw;
    background: url('../nft/p3.webp') center center no-repeat;
    background-size: cover;
    transition: 0.5s;
    display: inline-block;
}

/* End of PREMIUM 3 */