/* Start of local Google Fonts */
@font-face {
    font-family: "Roboto";
    src: url("../font/roboto/Roboto-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Bitter";
    src: url("../font/bitter/static/bitter-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Tangerine";
    src: url("../font/tangerine/Tangerine-Regular.ttf");
    font-display: swap;
}

/* End of local Google Fonts */

/* Top General Styling*/

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    background-color: #FFE8FF;
    font-family: 'Roboto', Bitter, sans-serif;
    color: #3a3a3a;
}

p {
    line-height: 25px;
}

body h1, h2 {
    color: white;
    padding: 0.5rem 0.5rem;
    font-family: 'Roboto', Bitter, serif;
    text-align: center;
    letter-spacing: 2px;
}

h2 {
    text-transform: uppercase;
}

/* Navigation styling*/

.logo-img {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
}

.nav-logo {
    float: left;
}

.nav {
    background-color: #9B59B6;
    text-align: center;
}

.page-title {
    border-top: 1px solid rgba(255, 255, 255, 0.486);
}

nav>a {
    color: white;
    transition: 0.3s;
}

a:hover {
    color: #FFE8FF;
    transition: 0.3s;
}

ul {
    position: relative;
    list-style: none;
    line-height: 75px;
}

ul>li {
    display: inline-block;
    padding-right: 8px;
}

ul>li>a {
    font-size: 110%;
    color: white;
    transition: 0.3s;
}

ul>li>a:hover {
    border-bottom: 1px solid #FFE8FF;
    transition: 0.3s;
}

.active {
    border-bottom: 1px solid white;
}

#a-border {
    border: none;
}

#metamask {
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

#metamask:hover {
    border: 1px solid white;
    background-color: white;
    color: #9B59B6;
    transition: 0.3s;
}

.base-color {
    color: #9B59B6;
}

/*Branding styling*/

.tangerine {
    font-family: 'Tangerine', Roboto, serif;
    font-weight: 400;
    font-size: 4rem;
    color: #460462;
    padding-top: 10px;
    margin-left: -30px;
}

.tangerine-font {
    font-family: 'Tangerine', Roboto, serif;
    font-weight: 400;
    font-size: 4rem;
    color: #ffffff;
}

.tangerine-hero-title {
    position: relative;
    top: 30%;
    text-align: center;
}

.tangerine-hero-button {
    position: relative;
    top: 50%;
    text-align: center;
}

/* Other general styling*/

.hr {
    border-top: 2px solid rgb(155, 89, 182, 0.5);
    border-bottom: 2px solid rgb(155, 89, 182, 0.5);
    margin: 10px 0;
    background-color: white;
}

.hr-cut-bottom {
    border-top: 2px solid rgb(155, 89, 182, 0.5);
    margin-bottom: 80px;
}

.background {
    background-color: rgb(155, 89, 182);
}

.bkg-white {
    background-color: white;
}

.color-white {
    color: white;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Hero Section*/

.hero-container {
    background: url('../../vendor/img/hero.webp') no-repeat center center fixed;
    background-size: cover;
    height: 50vw;
    width: 100%;
    position: relative;
}

#hero {
    width: auto;
    height: 320px;
}

.claim {
    padding: 10px 40px 10px 40px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 8px;
    transition: 0.3s;
    background-color: #9B59B6;
    color: white;
    letter-spacing: 1px;
}

.claim:hover {
    background-color: #FFE8FF;
    color: #9B59B6;
    transition: 0.3s;
}

.learn {
    padding: 8px 18px 8px 18px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 5px;
    transition: 0.3s;
    background-color: #ffffff;
    letter-spacing: 1px;
}

.learn:hover {
    background-color: #9B59B6;
    color: #ffffff;
    transition: 0.3s;
}

.claim-nft {
    padding: 7px 18px 7px 18px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 5px;
    transition: 0.3s;
    background-color: #ffffff;
    color: #9B59B6;
}

.claim-nft:hover {
    background-color: #f5dcff;
    color: #9B59B6;
    transition: 0.3s;
}

/*Card-based Containers*/

.card-based-container {
    text-align: center;
}

.card-based-container-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.img-learn1 {
    width: 30vw;
    height: 30vw;
    background: url(../../vendor/img/nft.webp) center center no-repeat;
    background-size: cover;
}

.img-learn2 {
    width: 30vw;
    height: 30vw;
    background: url(../../vendor/img/blockchain.webp) center center no-repeat;
    background-size: cover;
}

div>img {
    text-align: center;
}

span {
    font-weight: 700;
}

/* Learn and Marketplace Section */

div[class=learn-nft] {
    background-color: #9c59b61e;
    width: 40%;
}

.learn-nft {
    margin-top: 10vh;
    margin-bottom: 15vh;
    display: inline-block;
    border: 1px solid #9c59b685;
    padding: 20px;
    border-radius: 15px;
}

details {
    margin: 0 0 10px 0;
    text-align: center;
}

details>p {
    padding: 10px 10px;
    width: 40ch;
    background-color: #9c59b61e;
    display: inline-block;
    text-align: justify;
    margin: 10px 0 0 0;
    font-weight: 400;
}

summary {
    background-color: #9B59B6;
    color: white;
    padding: 20px;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;
    font-size: 18px;
}

summary:hover {
    transition: 0.5s;
    background-color: #460462;
}

div>iframe {
    margin-bottom: 10px;
    margin-top: 10px;
}

iframe {
    border: none;
    width: 100%;
    height: 315px;
}

/* Contact Styling */

.contact {
    position: relative;
    ;
    border: 1px solid #9c59b685;
    margin: 50px 0 50px 0;
    color: #9B59B6;
    border-radius: 15px;
    background-color: #9c59b61e;
    float: left;
    left: 16vw;
}

.padding-title {
    margin-top: 18px;
}

ul[class=base-color] {
    padding: 0;
    margin-top: 10px;
}

ul[class=base-color]>li>a {
    color: #ffffff;
    border: 1px solid #9B59B6;
    border-radius: 15px;
    padding: 7px;
    background-color: #9B59B6;
    transition: 0.3s;
    font-size: 13px;
    margin-top: 5px;
}

ul[class=base-color]>li>a:hover {
    border: 1px solid #9B59B6;
    background-color: rgba(156, 89, 182, 0.746);
    transition: 0.3s;
    color: white;
}

fieldset {
    border: none;
    margin: 20px 0 20px 15px;
}

legend {
    padding: 5px;
    font-weight: 700;
    text-align: left;
}

input {
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #9c59b685;
    cursor: auto;
}

input:hover {
    cursor: pointer;
}

select {
    padding: 5px 2px;
    border-radius: 15px;
}

textarea {
    width: 95%;
}

.inline {
    display: inline;
}

.aside {
    width: 40ch;
    padding: 20px;
    text-align: center;
    margin-left: 80px;
}

.contract {
    font-size: 13px;
}

.acceptdata {
    color: #9B59B6;
    font-size: 0.9rem;
    transition: 0.3s;
}

.acceptdata:hover {
    color: #460462;
    transition: 0.3s;
}

#text-align {
    text-align: left;
    width: 90%;
}


div[id=text-align]>input {
    display: block;
    margin: 10px 0;
    width: 100%;
}

.hr-cut {
    border-top: 2px solid rgb(155, 89, 182, 0.5);
    margin-bottom: 50px;
}

/* Footer and Other General Styling */

footer {
    color: white;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

#bold {
    font-weight: 600;
}

footer {
    padding: 10px 0px;
}

.footer {
    display: inline-block;
    font-size: 12px;
    margin-right: 8px;
}

#line-height {
    line-height: 30px;
}