@font-face {
    font-family: "Roboto";
    src: url("morada/assets/font/roboto/Roboto-Regular.ttf");
  }

@font-face {
    font-family: "Bitter";
    src: url("morada/assets/font/bitter/static/bitter-Regular.ttf");
  }

  @font-face {
    font-family: "Tangerine";
    src: url("morada/assets/font/tangerine/Tangerine-Regular.ttf");
  }
body {
    background-color:#FFE8FF;
    margin:0;
    font-family: 'Roboto', Bitter, sans-serif;
}

.sticky-top {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 999;
}

.logo-img{
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
}
.logo-img-background {
    background-color: hsl(288, 53%, 53%);
    width:100%;
    margin: 0;
    padding-top:10px;
}

body nav {
    background-color: hsl(288, 53%, 53%);
    height:7rem;
    margin: 0;
    text-align: center;
}

nav > div {
    text-align: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > a {
    color:white;
    text-decoration: none;
transition: 0.3s;
    padding-right:10px;
}

a:hover {
    color:#FFE8FF;
transition: 0.3s;
}

#metamask {
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
    cursor:pointer;
}

#metamask:hover {
    border: 1px solid white;
    background-color:white;
    color:#9B59B6;
transition: 0.3s;
}

body h1,h2{
    color:white;
    padding: 0.5rem 0.5rem;
    font-family: 'Bitter', Roboto, serif;
    text-align: center;
    margin:0
}

.base-color {
    color:#9B59B6;
}

.tangerine {
    font-family: 'Tangerine', Roboto, serif;
    font-weight: 900;
    font-size: 4rem;
    margin:0;
    color: #460462;
    padding-top: 10px;
}
.tangerine-font {
    font-family: 'Tangerine', Roboto, serif;
    font-weight: 900;
    font-size: 4rem;
    margin:0;
    color: #ffffff;
}
.tangerine-hero-title {
    position:relative; 
    top:30%;
    text-align: center;
}
.tangerine-hero-button {
    position:relative; 
    top:50%;
    text-align: center;
}
#call-out-text {
    font-size:2rem;
    padding: 10px 0;
}

.padding {
    padding: 130px 0 10px 0;
}
.hr {
    border-top: 2px solid rgb(155, 89, 182, 0.5);
    border-bottom: 2px solid rgb(155, 89, 182, 0.5);
    border-width: 2px;
    margin:10px 0;
    padding: 0;
  }
  .hr-cut {
    border-top: 2px solid rgb(155, 89, 182, 0.5);
    border-width: 2px;
    padding: 0;
  }
  .hr-cut-bottom {
    border-top: 2px solid rgb(155, 89, 182, 0.5);
    border-width: 2px;
    padding: 0 0 70px 0;
  }
.background {
    background-color: rgb(155, 89, 182);
}
.bkg-white {
    background-color: white;
}

.call-to-action {
    position: fixed;
    width: 100%;
    z-index: 999;
    opacity: 0;
    display: none;
    top: 3px;;
}

.call-to-action.show {
    opacity: 1;
  }

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size:1.5rem;
}

.hero-container {
    margin:0;
    background: url('../../vendor/img/hero.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 80vh;
    width: auto;
    position:relative;
}

#hero {
    width: auto;
    height: 320px;
}

.claim {
    padding: 10px 15px 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid #9c59b6cc;
    margin-bottom: 20px;
    margin-right:5px;
    transition: 0.3s;
}
.claim:hover {
    background-color: #9c59b6cc;
    color:#ffffff;
    border: 2px solid #2e2e2e69;
    transition: 0.3s;
}
.learn {
    padding: 8px 13px 8px 13px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid #9c59b6cc;
    margin-bottom: 20px;
    margin-right:5px;
    transition: 0.3s;
}
.learn:hover {
    background-color: #9c59b6cc;
    color:#ffffff;
    border: 1px solid #2e2e2e69;
    transition: 0.3s;
}
.card-based-container {
    text-align: center;
}

.card-based-container-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.text-center {
    text-align: center;
}

.img-learn1{
    width: 30vw;
    height: 30vw;
    border: 1px solid #000;
}

.img-learn2{
    width: 30vw;
    height: 30vw;
    border: 1px solid #000;
}

.img-marketplace{
    width: 300px;
    height: 300px;
    background: url('../../vendor/img/marketplace.jpg') no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.blockquote-left {
    border-left: 5px solid rgb(155, 89, 182);
    background-color: rgba(0, 0, 0, 0.068);
    display: block;
    padding:2% 5%;
    text-align: center;
    transition:0.3s;
}
.blockquote-left:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.397);
    background-color: rgb(156, 89, 182);
    transition:0.3s;
    color:white;
    font-weight: 600;
}

.blockquote-right {
    border-right: 5px solid rgb(155, 89, 182);
    background-color: rgba(0, 0, 0, 0.068);
    display: block;
    padding:2% 5%;
    text-align: center;
    transition:0.3s;
}

.blockquote-right:hover {
    border-right: 5px solid rgba(0, 0, 0, 0.397);
    background-color: #5f7d9b;
    transition:0.3s;
    color:white;
    font-weight: 600;
}

div {
    text-align:justify;
}

span {
    font-weight: 700;
}

#padding-right {
    padding-right:2.5rem;
}

#padding-left {
    padding-left:2.5rem;
    padding-right:0;
}

footer {
    color:white;
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer > p {
    margin-bottom: 5px;
    padding-right:5px;
}

.footer {
    display: inline-block;
    font-size: 12px;
}


ul {
    text-align: center;
    list-style: none;
    margin:0;
}

ul > li {
    display: inline-block;
    padding:10px 5px 5px 0px;
}

ul > li > a {
    font-size: 12px;
    color:white;
    text-decoration: none;
}

.height {
    height:100vh;
}
.contact {
    position:relative;;
    border:1px solid #9c59b685;
    margin: 50px 0 50px 0;
    color: #9B59B6;
    border-radius: 15px;
    background-color: #9c59b61e;
    float:left;
    left:16vw;
}

ul[class=base-color]{
    padding:0;
}

ul[class=base-color] > li > a {
    color:#ffffff;
    border: 1px solid #9B59B6;
    border-radius: 15px;
    padding:10px;
    background-color: #9B59B6;
    transition:0.3s;
}

ul[class=base-color] > li > a:hover {
    border: 1px solid #9B59B6;
    background-color: rgba(156, 89, 182, 0.746);
    transition:0.3s;
    color:white;
}

fieldset{
    border: none;
    margin:20px 0;
}

legend {
    padding: 5px;
    font-weight: 700;
    text-align: left;
}

input {
    padding:8px;
    border-radius: 15px;
    border: 1px solid #9c59b685 ;
    cursor:auto;
}
input:hover {
    cursor:pointer;
}

select {
    padding:5px 2px;
    border-radius: 15px;
}

.map { 
    margin-bottom: 46px;
}

.inline {
    display: inline;
}

.aside {
    width:40ch;
    padding:20px;
    text-align: center;
    margin-left:80px;
}
.acceptdata {
    text-decoration: none;
    color: #9B59B6;
    font-size: 0.9rem;
    transition: 0.3s;
}
.acceptdata:hover {
    color:#460462;
    transition: 0.3s;
}
#text-align {
    text-align: left;
}

div[id=text-align] > input {
    display: block;
    margin: 10px 0;
    width:95%;
}

div[class=learn-nft] {
    background-color: #9c59b61e;
}
.learn-nft {
    width:40%;
    margin-top:10vh;
    margin-bottom:15vh;
    display: inline-block;
    border:1px solid #9c59b685;
    padding:20px;
    border-radius:15px
}

details {
    margin:0 0 10px 0;
    text-align: center;
}
details > p {
    padding:10px 10px;
    width:40ch;
    background-color: #9c59b61e;
    display: inline-block;
    text-align: justify;
    margin:10px 0 0 0;
}
summary {
    background-color: #9B59B6;
    color:white;
    padding:20px;
    font-weight: 700;
}
div > iframe {
    margin-bottom: 10px;
}